@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Open+Sans:wght@600;700;800&display=swap');


*{
  margin: 0;
  padding:0;
  font-family: 'lato', bold;
}


.jobs{
    background-color: #d6fcf55e;
}

.header{
  display: flex;
  background: url(./images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #45797e;
  background-size: cover;
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


.cards-container .card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 20px 60px;
  border-left: 5px solid #5fa2a8;
  box-shadow: 8px 8px 17px 5px #8cd6c656;
  width: 60vw;
  background-color: #f4f4f4;
}


.card .card-job{
  display: flex;
  flex-direction: row;
  align-items: center; 
}

  .card-job .card-job_details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 90px 0 20px;
  }

    .card-job_details .job_tag ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      align-items: center;
    }

      .job_tag ul .company{
        color: #99b898;
        font-weight: 600;
      }

      .job_tag ul .isNew{
        background-color: #7fa8ad;
        color: white;
        padding: 8px;
        font-weight: 700;
        border-radius: 40px;
      }

    .card-job_details .job{
      margin: 15px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
    }

    .card-job_details .job_bottom{
      color: #45454545;
      font-weight: 600;
    }

.card .tags li{
  justify-content: space-evenly;
  background-color: #bdddd685;
  border-radius: 4px;
  padding: 5px;
  color: #7fa8ad;
  font-weight: 600;
}

.tags li:hover{
  background-color: #45797e;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li{
  margin: 0 5px;
}

.attribution {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.attribution a {
  color: hsla(0, 88%, 68%, 0.247);
}